<section class="plans" id="plans">

    <div class="plans_cards">
        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Basic 100</h2>
            </div>

            <h3>Simples</h3>

            <div class="plans_cards_i_text">
                <p>Ideal para quem não malha e só gosta de conversar e tirar self. Acesso a todos os espelhos da academia</p>
                <span>Saiba mais</span>
            </div>
        </div>

        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Smart 200</h2>
            </div>

            <h3>Indicado</h3>

            <div class="plans_cards_i_text">
                <p>Ideal para quem quer realmente ficar em forma. Acesso a todos os aparelhos da academia e quantas vezes quiser.</p>
                <span>Saiba mais</span>
            </div>
        </div>

        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Total 300</h2>
            </div>

            <h3>Prático</h3>

            <div class="plans_cards_i_text">
                <p>Ideal para quem quer se matar de tanto malhar. Vai junto com um cilindro de oxigênio, caso precise ser socorrido.</p>
                <span>Saiba mais</span>
            </div>
        </div>


    </div>

</section>