<section class="plans" id="plans">

    <div class="plans_cards">
        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Basic 100</h2>
            </div>

            <h3>Simples</h3>

            <div class="plans_cards_i_text">
                <p>Ideal para quem não malha e só gosta de conversar e tirar self. Acesso a todos os espelhos da academia. Cadeira de massagem. DH Fitness Go</p>
                <span>Saiba mais</span>
            </div>
        </div>

        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Smart 200</h2>
            </div>

            <h3>Indicado</h3>

            <div class="plans_cards_i_text">
                <p>Treine o quanto quiser na sua unidade, sem taxa de cancelamento. Área de musculação e aeróbicos. Aulas de Ginástica. Sem taxa de cancelamento.   </p>
                <span>Saiba mais</span>
            </div>
        </div>

        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Total 300</h2>
            </div>

            <h3>Prático</h3>

            <div class="plans_cards_i_text">
                <p>Treine em qualquer unidade DH Fitness na América Latina. Acesso ilimitado a todas áreas da academia. Leve amigos para treinar com você.</p>
                <span>Saiba mais</span>
            </div>
        </div>


    </div>

</section>