<section class="plans" id="plans">

    <div class="plans_cards">
        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Plano Black</h2>
            </div>

            <h3>Indicado</h3>

            <div class="plans_cards_i_text">
                <p>Idela para quem quer se matar de tanto malhar. Vai junto com um cilindro de oxigênio, caso precise ser socorrido.</p>
                <span>Saiba mais</span>
            </div>
        </div>

        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Plano Smart</h2>
            </div>

            <h3>Essencial</h3>

            <div class="plans_cards_i_text">
                <p>Idela para quem quer se matar de tanto malhar. Vai junto com um cilindro de oxigênio, caso precise ser socorrido.</p>
                <span>Saiba mais</span>
            </div>
        </div>

        <div class="plans_cards_i">
            <div class="plans_cards_i_tit">
                <h2>Plano Basic</h2>
            </div>

            <h3>Prático</h3>

            <div class="plans_cards_i_text">
                <p>Idela para quem quer se matar de tanto malhar. Vai junto com um cilindro de oxigênio, caso precise ser socorrido.</p>
                <span>Saiba mais</span>
            </div>
        </div>


    </div>

</section>