<div class="sidebar">
    <a href="#"><i class="fas fa-home"></i><span>Home</span></a>
    <a href="#about"><i class="fas fa-info-circle"></i><span>Sobre</span></a>
    <a href="#unity"><i class="fab fa-unity"></i><span>Unidades</span></a>
    <a href="#plans"><i class="fas fa-donate"></i><span>Planos</span></a>
    <a href="#"><i class="fas fa-question-circle"></i><span>Ajuda</span></a>
</div>