<%- include('./partials/head'); %>

    <body> 

        <input type="checkbox" checked id="check">

        <header>
            
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>

            <div class="left_area">
                <h3>DH <span>Fitness</span></h3>
            </div>

            <div class="right_area">
                <span onclick="popupToggle()" class="login_btn">Entrar</span> | <span class="register_btn">Cadastrar</span>
            </div>

            <!-- Login -->
            <form action="/users/autenticar" method="POST">
                <div id="popup">
                    <div class="content_popup">
                        <img src="/images/avatar_login.png">
                        <h2>Acesso a Administradores</h2>
                        <p>Inclusão de Alunos, Professores, Planos, etc... </p>
                        <div class="inputLogin">
                            <input type="email" name="email" placeholder="Entre com seu E-Mail">
                        </div>
                        <div class="inputLogin">
                            <input type="password" name="password" placeholder="Entre com sua Senha">
                        </div>
                        <div class="inputLogin">
                            <input type="submit" value="Entrar">
                        </div>
                    </div>
                    <a class="close" onclick="popupToggle()"><img src="/images/close.png"></a>
                </div>
            </form>
        </header>

        <!--Menu Lateral -->
        <%- include('./partials/sidebar'); %>

        <!-- Conteúdo -->
        <section class="content">

            <div class="content_enter">
                <span>Quanto maior o acesso, mais atividade!</span>

                <ul>
                    <li><i class="far fa-calendar-alt"></i>Agendamento</li>
                    <li><i class="fas fa-wifi"></i>Wi-Fi</li>
                    <li><i class="fas fa-hand-holding-medical"></i>DH Care</li>
                    <li><i class="fas fa-tshirt"></i>Armário</li>
                    <li><i class="far fa-clipboard"></i>Avaliação</li>
                    <li><i class="far fa-clock"></i>Malhação Express</li>
                    <li><i class="fas fa-utensils"></i>DH Light</li>
                    <li><i class="fas fa-car-side"></i>Estacionamento</li>
                </ul>
            </div>
            

        </section>

        <!-- Sobre -->
        <section class="about" id="about">
            <div class="about_text">
                <h1>A DH Fitness</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto eum libero tempore dolore nihil qui magnam necessitatibus, velit aspernatur natus unde nemo, provident expedita fuga enim consectetur delectus autem incidunt?</p>
            </div>
            
        </section>

        <!-- Unidades -->
        <section class="unity" id="unity">

        </section>

        <!-- Planos -->
        <%- include('./partials/plans'); %>
        

        <!-- Rodapé -->
        <%- include('./partials/footer'); %> 


        <script>
            function popupToggle() {
                const popup = document.getElementById('popup');
                popup.classList.toggle('active_popup');
            }
        </script>
        
    </body>

</html>



