<%- include('./partials/head'); %>

    <body> 

        <input type="checkbox" checked id="check">

        <header>
            
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>

            <div class="left_area">
                <h3>DH <span>Fitness</span></h3>
            </div>

            <div class="right_area">
                <% if (typeof user !== "undefined") { %>
                    <span class="right_area_profile" onclick="toggle_right_area_menu();"></span>
                    <span><%= user.full_name %></span>
                <% } else { %>
                    <span onclick="popupToggle()" class="login_btn">Entrar</span>
                <% } %>
            </div>

            <div class="right_area_menu">
                <h3>Plano Smart<br><span>Matrícula: 1945781</span></h3>
                <ul>
                    <li><i class="far fa-user-circle"></i><a href="#">Editar Perfil</a></li>
                    <li><i class="fas fa-envelope"></i><a href="#">Mensagens</a></li>
                    <li><i class="fab fa-windows"></i><a href="/cp">Painel de Controle</a></li>
                    <li><i class="fas fa-sign-out-alt"></i>><a href="/users/logout">Sair</a></li>
                </ul>
            </div>

            <!-- Login -->
            <form action="/users/autenticar" method="POST">
                <div id="popup">
                    <div class="content_popup">
                        <img src="/images/avatar_login.png">
                        <h2>Acesso a Administradores</h2>
                        <p>Inclusão de Alunos, Professores, Planos, etc... </p>
                        <div class="inputLogin">
                            <input type="email" name="email" placeholder="Entre com seu E-Mail">
                        </div>
                        <div class="inputLogin">
                            <input type="password" name="password" placeholder="Entre com sua Senha">
                        </div>
                        <div class="inputLogin">
                            <input type="submit" value="Entrar">
                        </div>
                    </div>
                    <a class="close" onclick="popupToggle()"><img src="/images/close.png"></a>
                </div>
            </form>
        </header>

        <!--Menu Lateral -->
        <div class="sidebar">
            <a href="#"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="#about"><i class="fas fa-info-circle"></i><span>Sobre</span></a>
            <a href="#plans"><i class="fas fa-donate"></i><span>Planos</span></a>
            <a href="#" onclick="toggle_form_help();"><i class="fas fa-question-circle"></i><span>Ajuda</span></a>
        </div>

        <!-- Conteúdo -->
        <section class="content">

            <div class="content_enter">
                <span>Quanto maior o acesso, mais atividade!</span>

                <ul>
                    <li><i class="far fa-calendar-alt"></i>Agendamento</li>
                    <li><i class="fas fa-wifi"></i>Wi-Fi</li>
                    <li><i class="fas fa-hand-holding-medical"></i>DH Care</li>
                    <li><i class="fas fa-tshirt"></i>Armário</li>
                    <li><i class="far fa-clipboard"></i>Avaliação</li>
                    <li><i class="far fa-clock"></i>Malhação Express</li>
                    <li><i class="fas fa-utensils"></i>DH Light</li>
                    <li><i class="fas fa-car-side"></i>Estacionamento</li>
                </ul>
            </div>

            <div class="form_help">
                <form action="/contato" method="POST">
                    <div class="area_help">

                        <h3>Em que posso ajudar?</h3>

                        <label for="nome_help">
                            Nome:
                            <input type="text" name="name_help" id="name_help" placeholder="Seu nome aqui..." />
                        </label>
                    </div>

                    <div class="area_help">
                        <label for="email_help">
                            E-Mail:
                            <input type="email" name="email_help" id="email_help" placeholder="Seu email aqui..." />
                        </label>
                    </div>

                    <div class="area_help">
                        <select name="subject_help" id="subject_help">
                            <option value="Sugestão">Sugestão</option>
                            <option value="Reclamação">Reclamação</option>
                            <option value="Dúvidas">Dúvidas</option>
                        </select>

                        <textarea name="text_help" id="text_help" cols="30" rows="7" maxlength="1000" placeholder="Digite até 1000 caracteres..."></textarea>
                    </div>

                    <div class="submit_help">
                        <input type="submit" value="Enviar" />
                        <input type="reset" value="Cancelar" onclick="toggle_form_help();" />
                    </div>


                </form>
            </div>
            

        </section>

        <!-- Sobre -->
        <section class="about" id="about">
            <div class="about_text">
                <h1>A DH Fitness</h1>
                <p>Em 2021, DH já era conhecido pela sua rede de academias high end Bio Ritmo. Mas se a Academia Bio Ritmo atendia plenamente as classes A/B, como levar a atividade física para todos? Como democratizar a atividade física, mas sem perder qualidade?</p>
                <p>Há uma história que Edgard Corona gosta de contar para explicar a necessidade da DH Fitness no Brasil: um dia, chegando para visitar a Bio Ritmo Paulista, ele parou num café do Conjunto Nacional. Ao conversar com a atendente ele perguntou: “O que você acha da academia que tem aqui, a Bio Ritmo?”. Ela respondeu que adoraria frequentar uma academia daquele padrão, mas era muito cara para ela...</p>
            </div>
            
        </section>

        <!-- Unidades -->

        <!-- Planos -->
        <%- include('./partials/plans'); %>
        

        <!-- Rodapé -->
        <%- include('./partials/footer'); %> 


        <script>
            function popupToggle() {
                const popup = document.getElementById('popup');
                popup.classList.toggle('active_popup');
            }

            function toggle_right_area_menu() {
                const toggleMenu = document.querySelector('.right_area_menu');
                toggleMenu.classList.toggle('activeMenu');
            }

            function toggle_form_help() {
                const toggleHelp = document.querySelector('.form_help');
                toggleHelp.classList.toggle('activeHelp');
            }
        </script>
        
    </body>

</html>



